$navbar-item-padding: 25px 0px

.navbar
  +padding-horizontal($spacing-container)
  background-color: $primary-color
  display: flex
  justify-content: space-between

  &__brand
    flex: 1
    padding: $navbar-item-padding
    font-size: $font-size-large
    font-weight: bold
    color: $light-color

  &__menu
    display: flex
    justify-content: space-between
    flex: 1

  &__link
    padding: $navbar-item-padding
    color: $light-color
    +border-transition($light-color)